{% extends 'base.html' %}

{% block content %}

<h1>Create a playlist!</h1>

<form method="POST">

    {{form.hidden_tag()}}

    {% for field in form.errors %}
    <div class="alert alert-danger">{{ field }}:
        <ul>
            {% for error in form.errors[field] %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    {% for field in form if field.widget.input_type != 'hidden' %}

    <div class="form-group">
        {{field.label}}
        <div class="">
            {{field}}
        </div>
    </div>

    {% endfor %}

    <button class="btn btn-primary m-2">Add!</button>
</form>

{% endblock %}